.navigation {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 20vw;
}

.navButton {
    color: black;
    font-size: 20px;
}

body {
    background-color: #f7e4ca;
}

* {
    padding: 0;
    margin: 0;
}

.BlueTop {
    background-color: #42649b;
    height: 8vh;
}
.pceLogo {
    margin-top: 20px;
    margin-left: 50px;
}