
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu';
}
.navigationBar {
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 10px;
    justify-content: center;
    padding-right: 20px;
    margin: auto 0;
    background-color: #142c53;
    height: fit-content;
}
.navDivider{
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 5px;
}
body {
    background: linear-gradient(to bottom, #f7e4ca, #fad6a4);
}


.BlueTop {
    background-color: #142c53;
    min-height: 8vh;  
    display: flex;
    align-items: center; /* vertical centering */
    justify-content: center;
}

.pceLogo {
    margin-left: 30px;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}
.navButton {
    width: fit-content;
    height: fit-content;


    color: white;

    font-size: 20px;
    padding: 10px 30px 10px 30px;

    transition: 100ms;
}

.navButton:hover {
    transform: scale(1.14);
} 

.layout {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}


main {
    margin: 0 auto;
    padding-top: 20px;
    width: 60vw;
    min-height: 85vh;
    background-color: #f7e4ca;

    
}

@media (max-width: 1026px) {
    main {
        width: 100vw;
    }

    .layout {
        flex-direction: column;
        align-items: center; 
    }

  }

@media (max-width: 726px) {

    .navigationBar {
        grid-template-columns: repeat(7, auto);
        justify-content: center;
        padding-bottom: 10px;
    }
    .pceLogo {
        margin: 0 auto;
        display: block;
    }
    .BlueTop {
        padding-top: 10px;
        align-items: center;
        justify-content: center;
    }
}

.mainBlog {
    margin-top: 15px;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 20px;
}
#mapa {
    margin: 0 auto;
}
.mainBlog ul{
    padding-left: 50px;
}

#selected {
    border-bottom: 2px white solid;
} 

.vitejTitle {
    font-size: 30px;
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 5px;
}

#mainBanner {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
a {
    text-decoration: none;
}

.foot {
    max-width: 100vw;
    margin-bottom: 0;
    background-color: #142c53;
    height: 8vh;
    
}
#footerText {
    margin: 0 auto;
    width: fit-content;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

#footerText a{
    color: white;
    text-decoration: none;
    transition: 100ms;
}

.dalsiProvadime {
    margin: 0 auto;
    width: fit-content;
    margin-top: 20px;
    font-size: 25px;
    padding-right: 70px;
    font-weight: bold;
}

#emptyElement {
    width: 283px;
    height: 53px;
    margin-right: 30px;
}
.provadimeBlog {
    margin-top: 30px;
    font-size: 1.5em;
}
li {
    margin-top: 20px;
}
.provadimeHolder {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.provadimePolozka {
    margin-left: 12vw;
    margin-right: 15vw;
    margin-top: 20px;

    background-color: #f7c37b;
    border: #142c53 1px solid;
    border-radius: 8px;
    padding: 10px;
    transition: 100ms;
}

.provadimePolozka:hover {
    background-color: #ecad54;
    transform: scale(1.2);
}
.mainBlogText {
    margin-top: 25px;
    line-height: 2;
    
}

.lokaceTitle {
    width: fit-content;
    margin: 0 auto;
    font-size: 25px;
    padding-top: 20px;
}
.galerieHolder {
    margin-top: 25px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 20px;
}

.galerieImg {
    width: 200px;
    height: 200px;
    border: #142c53 2px solid;
    cursor: crosshair;
    transition: 100ms;
}

.galerieImg:hover{
    transform: scale(1.1);
}
#projektor {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}
.otevritFotky {
    padding: 10px;
    background-color: #f7c073;
    border: #142c53 1px solid;
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    width: fit-content;
    border-radius: 8px;
    transition: 100ms;
}
.otevritFotky:hover{
    background-color:#ecad54;
    transform: scale(1.1);
    cursor: pointer;
}
.kontakty {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
    width: fit-content;
    display: flex;
    gap: 100px;
    flex-wrap: repea;
    
}
.kontakty img {
    width: 300px;
}
.kontakty ul {
    list-style: none;
}
.kontakty ul li {
    font-size: large;
    font-weight: bold;
}
.copy {
    border: #142c53 1px solid;
    padding: 4px;
    width: fit-content;
    background-color: aliceblue;
    border-radius: 10px;
    transition: 100ms;
    cursor: grab;
}
.copy:hover{
    background-color: #f7e4ca;
    transform: scale(1.1);
}
.galerieRadkovani {
    line-height: 1.5;
    margin-top: 20px;
    width: fit-content;
}

.frameHolder {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}
.lokace{
    margin: 0 auto;
    display: block;
    background-color: #f8debb;
    border-radius: 10px;
    border: 1px #142c53 solid;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 15px;
    padding-left: 10px;
}
