
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu';
}
.navigationBar {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    justify-content: end;
    padding-right: 20px;
    margin: auto 0;
    background-color: #142c53;
    height: fit-content;
}

.navButton {
    color: black;
    font-size: 20px;
}

body {
    background-color: #f7e4ca;
}


.BlueTop {
    background-color: #142c53;
    min-height: 8vh;  
    display: flex;
    align-items: center; /* vertical centering */
    justify-content: flex-end;
}

.pceLogo {
    margin-top: 10px;
    margin-left: 30px;
    display: inline-block;
    width: fit-content;
    height: fit-content;
}
.navButton {
    width: fit-content;
    height: fit-content;

    background-color: #f7e4ca;
    border-radius: 6px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 2px;
    padding-bottom: 2px;

    transition: 100ms;
}

.navButton:hover {
    background-color:#f7cd93;
    border: 1px black solid;
    transform: scale(1.14);
}

.layout {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}


main {
    margin-top: 90px;
    width: 60vw;
    min-height: 80vh;
    
}

@media (max-width: 1026px) {
    main {
        width: 100vw;
    }

    .layout {
        flex-direction: column;
        align-items: center; 
    }

  }

@media (max-width: 726px) {

    .navigationBar {
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        padding-bottom: 10px;
    }
    .pceLogo {
        margin-left: 0;   
        margin-top: 35px;
    }
    .BlueTop {
        padding-top: 10px;
        align-items: center;
        justify-content: center;
    }
}

.mainBlog {
    margin-top: 15px;
    font-size: 18px;
}

#selected {
    color: darkblue;
    background-color:#f7cd93;
    border: 1px black solid;

}

.vitejTitle {
    font-size: 30px;
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 5px;
}

#mainBanner {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
a {
    text-decoration: none;
}

.foot {
    max-width: 100vw;
    background-color: #142c53;
    height: 10vh;
}
#emptyElement {
    width: 283px;
    height: 53px;
    margin-right: 30px;
}
.provadimeBlog {
    margin-top: 30px;
    font-size: 1.5em;
}
li {
    margin-top: 20px;
}
.provadimeHolder {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.provadimePolozka {
    margin-left: 12vw;
    margin-right: 15vw;
    margin-top: 20px;

    background-color: #f7c37b;
    border: #142c53 1px solid;
    border-radius: 8px;
    padding: 10px;
    transition: 100ms;
}

.provadimePolozka:hover {
    background-color: #ecad54;
    transform: scale(1.2);
}
.mainBlogText {
    margin-top: 25px;
    
}

.lokaceTitle {
    width: fit-content;

}
.galerieHolder {
    margin-top: 25px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 20px;
}

.galerieImg {
    width: 200px;
    height: 200px;
    border: #142c53 2px solid;
    cursor: crosshair;
    transition: 100ms;
}

.galerieImg:hover{
    transform: scale(1.1);
}
#projektor {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}
.otevritFotky {
    padding: 10px;
    background-color: #f7c073;
    border: #142c53 1px solid;
    margin: 0 auto;
    margin-top: 25px;
    display: block;
    width: fit-content;
    border-radius: 8px;
    transition: 100ms;
}
.otevritFotky:hover{
    background-color:#ecad54;
    transform: scale(1.1);
}
.kontakty {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
    width: fit-content;
    display: flex;
    gap: 100px;
    
}
.kontakty img {
    width: 300px;
}
.kontakty ul {
    list-style: none;
}
.kontakty ul li {
    font-size: large;
    font-weight: bold;
}
.copy {
    border: #142c53 1px solid;
    padding: 4px;
    width: fit-content;
    background-color: aliceblue;
    border-radius: 10px;
    transition: 100ms;
    cursor: grab;
}
.copy:hover{
    background-color: #f7e4ca;
    transform: scale(1.1);
}